<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gomawa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gomawa.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <!-- noHistory 속성이 true이면 액티비티 전환 시 저절로 finish 됨 -->
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ShareActivity"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="com.android.camera.action.CROP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.NicknameActivity"
            android:theme="@style/Transparent"/>

        <!-- Theme.AppCompat 을 쓰면 상태바랑 화면이 겹치지 않음! -->
        <activity
            android:name=".activity.NoticeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>